.gaci-button {
  padding: .25rem .75rem;
  background-color: $gaci-black;
  color: $gaci-white;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid $gaci-black;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background-color: lighten($gaci-black, 10%);
    border-color: lighten($gaci-black, 10%);
  }

  &:active {
    background-color: darken($gaci-black, 10%);
    border-color: darken($gaci-black, 10%);
  }

  &.-inverted {
    background-color: $gaci-white;
    color: $gaci-black;

    &:hover {
      border-color: $gaci-black;
      background-color: $gaci-black;
      color: $gaci-white;
    }

    &:active {
      background-color: darken($gaci-black, 10%);
      border-color: darken($gaci-black, 10%);
    }
  }

  &.-small {
    padding: .1rem .25rem;
    font-size: .75rem;
    border-width: 1px;
    font-weight: 500;
  }
}
