.gaci-card {
  width: calc(100% - 2rem);
  margin: .5rem 0;
  padding: 1rem;
  flex-grow: 0;
  border: 1px solid rgba($gaci-black, .1);
  box-shadow: 0 3px 4px rgba($gaci-black, .1);
  transition: .3s;

  &__container {
    margin: 0 -1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__title {
    width: 100%;
    flex-grow: 1;
    position: relative;
    text-transform: uppercase;
    font-weight: 400;

    & span {
      display: block;
      font-weight: bold;
      font-size: .75rem;
      color: $gaci-blue;
    }
  }

  &__summary {
    flex-grow: 2;
    width: 100%;
    font-size: .75rem;
    color: lighten($gaci-black, 20%);
    display: flex;
    justify-content: flex-end;

    &__item {
      width: 11rem;
      padding: .25rem 1rem;
      margin-left: 1rem;
      border: 1px solid rgba($gaci-black, .1);
      text-align: center;
      cursor: pointer;
      transition: .3s;

      &:hover {
        background-color: rgba($gaci-black, .03);
      }

      &:active {
        background-color: rgba($gaci-black, .1);
      }

      &.-selected {
        background-color: rgba($gaci-black, .06);
      }
    }

    &__title {
      margin-right: .5rem;
      text-transform: uppercase;
      font-weight: bold;
      opacity: .55;

      &.-humidity{
        color: cadetblue;
      }

      &.-wind{
        color: mediumseagreen;
      }

      &.-pressure{
        color: #a54748;
      }
    }

    &__value {
      font-size: 1.25rem;
      font-weight: 300;
    }
  }

  &__details {
    position: relative;
    min-height: 5rem;
    overflow: hidden;
    border: 1px solid rgba($gaci-black, .1);

    &.-humidity {
      color: rgba(cadetblue, .5);
    }

    &.-wind {
      color: rgba(mediumseagreen, .5);
    }

    &.-pressure {
      color: rgba(#A54748, .5);
    }
  }
}
