@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: Dosis, sans-serif;
  font-size: 1rem;
}

.gaci-text {

  &--bold {
    font-weight: bold;
  }

  &--blue {
    color: $gaci-blue;
  }
}
